/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  text-transform: capitalize;
  font-family: "Work Sans", sans-serif;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  --- start --- */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.3;
}
.header .links .icon span:last-child {
  height: 5px;
  width: 100%;
}
.header .links ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  background-color: var(--section-background);
  padding: 0;
  min-width: 200px;
  top: calc(100%+15px);
  margin: 0%;
  z-index: 1;
  display: none;
}
.header .links ul ::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--section-background);
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li :not(:last-child)a {
  border-bottom: solid 1px #333;
}
.header .links:hover ul {
  display: block;
}
.landing {
  background-image: url(../media/images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/*special components*/

.specialHeading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.specialHeading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
  margin-top: -20px;
}
@media (max-width: 767px) {
  .specialHeading {
    font-size: 60px;
  }
}
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .servicesContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .servicesContent .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .servicesContent .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .servicesContent .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .servicesContent .serv .text {
  flex: 1;
}
.services .servicesContent .serv .text h3 {
  margin: 0 0 20px;
}
.services .servicesContent .serv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .servicesContent .images {
  text-align: center;
  position: relative;
}
.services .servicesContent .images::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  right: 0;
  z-index: -1;
}
.services .servicesContent .images img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/*portfolio*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolioContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolioContent .card{
  background-color: white;

}
.portfolio .portfolioContent .card img{
width: 100%;
}
.portfolio .portfolioContent .card  .info{
  padding: 20px;
}
.portfolio .portfolioContent .card .info h3{
margin: 0;
}
.portfolio .portfolioContent .card .info p{
color: #777;
margin-bottom: 0;
}
@media(max-width:767px){
  .portfolio .portfolioContent .card .info p{
    text-align: center;
  }
  .portfolio .portfolioContent .card .info h3{
    text-align: center;
  }
}
.about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.aboutContent{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .aboutContent .images{
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width:991px){
  .about .aboutContent .images{
    margin: 0 auto 60px;

  }
}
.about .aboutContent .images::before{
content: "";
position: absolute;
background-color: #ebeced;
width: 100px;
height: calc(100% + 80px);
top: -40px;
left: -20px;
z-index: -1;

}
.about .aboutContent .images::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;

}
@media (max-width:991px){
  .about .aboutContent .images::before,
  .about .aboutContent .images::after
  
  {
    display: none;

  }

}
.about .aboutContent .images img{
  width: 100%;
}
@media (max-width:991){
  .about .aboutContent .images{
    margin: 0 auto 60px;
  }
}
.about .aboutContent .text{
  flex-basis: calc(100% - 500px);
}
.about .aboutContent .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .aboutContent .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .aboutContent .text p:last-of-type{
  line-height: 2;
  color: #777;
}
@media (max-width:991px){
  .about .aboutContent {
    flex-direction: column;
    align-items: center;
  }
}
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}




.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}